#!/bin/bash

OPTIONS="quit {{ secrets.mfa | dict2items | map(attribute='key') | list | join(' ') }}"

do_xclip=false
if which xclip >/dev/null; then
    do_xclip=true
fi

show_code() {
    totp=$1
    code=$(oathtool --base32 --totp "${totp}" -d 6)
    echo "${code}"
    if $do_xclip; then
        echo "${code}" | xclip -i
    fi
}

select opt in $OPTIONS; do
  if [ "$opt" = "quit" ]; then
    exit
{% for mfaName, mfaValue in secrets.mfa.items() %}
  elif [ "$opt" = "{{ mfaName }}" ]; then
      show_code "{{ mfaValue.totp }}"
{% endfor %}
  else
    echo "Choose an available option."
  fi
done

