domain-needed

#resolv-file=/etc/resolv.dnsmasq
#conf-file=/etc/dnsmasq/domains.txt

{% if duckdns is defined %}
address=/{{ duckdns.domains }}.duckdns.org/{{ vpn_ip_address }}
{% endif %}
{% if hostname is defined and local_ip_address is defined %}
address=/{{ hostname }}/{{ local_ip_address }}
{% endif %}
addn-hosts=/etc/dnsmasq/blacklist.txt

listen-address=0.0.0.0
bind-interfaces

server=9.9.9.9
server=1.1.1.1

